<% provide(:page_title, "通知一覧") %>
<h1>通知一覧</h1>
<div class="row">
<div class="col-md-8 col-md-offset-2">
  <% if @notifications.exists? %>
    <div class="underline">
      <%= render @notifications %>
      <%= will_paginate @notifications %>
    </div>
  <% else %>
    <p>通知はありません</p>
  <% end %>
</div>
</div>