<% provide(:page_title, "About") %>
<h1>このサイトについて</h1>
<div class="row">
<div class="col-lg-6">
<img src="/sample.png" width="550px" height="450px">
</div>
<div class="col-lg-6 about-design">
<p>現在会員ではない人は公式サイトを見てもそのサービスは本当なのかどうかわからないことが増えてきました。<br>
また現代は紹介手数料がもらえるためその目的で言葉巧みにアフィリエイト目的の記事も有ります。<br>
本当の情報なのか調べることが重要な世の中になってきています。<br>
(実際に記事を書いた人が実際にそのサービス受けていたら良いのですが記事内にその証拠となるものが記事の中に見当たらない場合
<br>これから利用する方からするとそのサイトの情報は少し不安に感じてしまう方もいるかもしれません。)<br></p>
</div>
</div>
<br><p>使い方は簡単です！過去または現在利用しているサービスについて現地の写真か入会した証の画像を加工して記事を書くだけです！</p>
<br><p>あなたが先に共有しておいたら今後あなたの知りたいサービスの利用者からの情報記事が出ているかもしれません！<br>
また、記事が増えることによりこっちの方が良いサービスだ！思った場合は現在利用のサービス乗り換えの検討材料ともなり得ます！<br></p>
<img src="/sample2.png" width="560px" height="330px">
<br><p><※注意※></p>
<p>このサービスを介してサービス利用当事者より虚偽の情報共有を固く禁止しております。</p>
<p>確認または報告が有り次第、該当のアカウント停止などの処置を実施する可能性がございます。</p>
<p>また、近年個人情報を流出も危ぶまれてきております、加工を必ず行い個人とわかるような情報の記載はおやめ下さい。</p>
