<% provide(:page_title, "お問い合わせ") %>
<h1>お問い合わせページ</h1>
<div class="contact">
<p>こちらのページはお問い合わせです。</p>

<p>こちらではヘルプに記載されていないトラブルについて扱います。</p>
<p>まずはヘルプにて確認後お問い合わせを行うようよろしくお願い致します。</p>
<p><a href="/help">■■■■   ヘルプのリンクはこちらからアクセスできます。   ■■■■</a></p>
<p>利用中に問題や不具合が見つかった場合は下記のアドレスへご連絡ください。</p>
<p>whatservice175@gmail.com</p>
<p>対応のお返事はサポートチームからメールがきます。</p>
<p>※サポートチームの対応状況次第でメールの返信に対しお時間を頂く場合もございます
ご了承ください。</p>
</div>
