<% provide(:page_title, 'ヘルプ') %>
<h1>ヘルプ</h1>
<p>ヘルプセンター</p>
<div class="help_center">
<ul>■既知の問題
  <li>現在、報告が必要な問題はありません。問題が発生した場合はお問い合わせよりご連絡ください。</li>
  <%= link_to "お問い合わせ", contact_path %>
</ul>

<p>■よくある質問</p>
<ul>
  ■記事の投稿方法
  <li>投稿の箇所より投稿内容を記述後に投稿できます。</li>
  <li>本文の内容とタイトル、サービスの料金を記載してください。</li>
  <li>Q.サービスの料金が無料の場合どうなんですか？</li>
  <li>A.無料と記述していただいて大丈夫です。</li>
  <li>Q.月額制度ではなくトータル金額で書いても大丈夫でしょうか？（1回の入会で半年コースなど）</li>
  <li>A.大丈夫です</li>
  <li>Q.古い情報の記事を見かけました、現在改善されている点もあります。</li>
  <li>A.該当記事へのコメントまたは記事にて情報の共有して頂けますと幸いです。
  各ユーザーさんの情報共有が増えますとこのサイトもより良いサイトになります！</li>
  <li>Q.記事の内容は特にないがアフィリエイトサイト(外部サイトへ誘導)するような記事がある</li>
  <li>A.外部ページの誘導を推奨しておりません、場合によっては記事投稿しているアカウントを
    停止する場合もございます。</li>
</ul>

<ul>■アカウントについて
  <li>アカウントの登録方法</li>
  <li>トップページより登録のリンクURLにて各項目入力を行い登録してください</li>
  <li>かんたんログインアカウントについて</li>
  <ul class="kantan">(※注意)かんたんログインアカウントは下記の行為ができません。
  <li>①退会</li>
  <li>②ユーザー情報編集</li>
  </ul>
  <li>上記の行為を行えるはアカウントが必要な場合は新規登録
  または他のプラットフォームアカウントを使用しアカウント取得後行ってください。</li>
  <li>Faceboookログインを使用したアカウントについて</li>
  <li>What Service Appの全てのサービスが利用できます。</li>
<ul>
</div>