<% provide(:page_title, "HOME") %>
<div class="center jumbotron">
  <h1>What Service ？</h1>
  <p>あなたの受けたことがあるサービスに関して感想や情報を共有するサイトです！</p>
  <%= link_to "新規登録はこちら！", signup_path, class: "btn btn-lg btn-success" %><br>
  <div class="row">
    <div class="col-md-6">
      <p>フェイスブックアカウトをお持ちの方は</p>
      <%= link_to "Facebookアカウントでログイン！",'#',class: "btn btn-lg btn-primary" %>
    </div>
    <div class="col-md-6">
      <p>ツイッターアカウトをお持ちの方は</p>
      <%= link_to "Twitterアカウントでログイン！",'#',class: "btn btn-lg btn-info" %>
    </div>
  </div>
</div>