@import "bootstrap-sprockets";
@import "bootstrap";

/* 共通部分 */
body {
  padding-top: 60px;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
  background-image: url('/center.jpg');
  background-repeat: no-repeat;
}
.center h1 {
  margin-bottom: 10px;
  color: orange;
}
.center p {
  font-weight: bold;
  color: orange;
}
h1,h2,h3{
  line-height: 1;
}
h1{
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}
p{
  font-size: 1.1em;
  line-height: 1.7em;
}

/* ヘッダー */
#logo {
  float: left;
  margin-right: 10px;
  padding-top: 9px;
  border-top: 1px solid #eaeaea;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: orange;
}

/* フッター */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}
footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}
  
footer ul li {
  float: left;
  margin-left: 15px;
}

/* アバウト */
div.about-design{
  background-color:white;
  font-weight: bold;
  width:550px;
  height:450px;
  text-align: left;
  padding: 110px 5px;
}

/* 新規登録フォーム */
div.policy{
  padding-top: 10px 0;
  font-weight: bold;
  text-align: center;
}

/* ログインフォーム */
.checkbox {
  margin-top: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}
/* ユーザー 一覧ページ */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.user_icon {
  float: left;
  margin-right: 10px;
}

.user_icon_edit {
  margin-top: 15px;
}

/* 記事投稿一覧のレイアウト */
.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .post-icon {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}
span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

div.post-title{
  font-weight: bold;
  font-size: large;
}

.micropost_content{
  font-weight: bold;
  font-size: 1.3em;
}

span.user{
  font-weight: bold;
  font-size: 1.1em;
}