@import "trix";
@import "bootstrap-sprockets";
@import "bootstrap";

/* 共通部分 */
body {
  padding-top: 60px;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
  background-image: url('/center.jpg');
  background-repeat: no-repeat;
}
.center h1 {
  margin-bottom: 10px;
  color: orange;
}
.center p {
  font-weight: bold;
  color: orange;
}
h1,h2,h3{
  line-height: 1;
}
h1{
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}
p{
  font-size: 1.1em;
  line-height: 1.7em;
}

/* ヘッダー */
#logo {
  float: left;
  margin-right: 10px;
  padding-top: 9px;
  border-top: 1px solid #eaeaea;
  font-size: 1.4em;
  letter-spacing: -1px;
  color: orange;
}
nav.nav_header{
  position: relative;
  font-weight: bold;
}
ul.nav{
  display: flex;
}

li.header_logout{
  float: left;
  padding-left: 5px;
  color: #333;
}

@media (max-width: 780px) {
  nav.nav_header{
    display: flex;
  }
}

@media (max-width: 500px) {
  #logo {
    float: left;
    margin-right: 10px;
    padding-top: 9px;
    border-top: 1px solid #eaeaea;
    font-size: 1.2em;
    letter-spacing: -1px;
    color: orange;
  }

  nav.nav_header{
    display: flex;
    font-size: 11px;
  }
  .navbar-nav{
    margin: 0px -20px;
  }
  .dropdown-menu > li > a{
    font-size: 11px;
    font-weight: bold;
  }
  li.no_session{
    margin-left: 8px;
    margin-top: 3px;
  }
}

@media (max-width: 530px) {
  b.caret{
    display: none;
  }
}

div.dropdown{
  margin-top: auto;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: auto;
  &:hover {
    background-color: blanchedalmond;
  }
}

div.dropdown:hover > .dropdown-menu{
  display: block;
}

a.dropdown-toggle{
  margin-left: 13px;
  margin-right: 13px;
  text-decoration: none;
}

/* フッター */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}
footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* アバウト */
div.about-design{
  background-color:white;
  font-weight: bold;
  width:550px;
  height:450px;
  text-align: left;
  padding: 110px 5px;
}

/* 新規登録フォーム */
div.policy{
  padding-top: 10px 0;
  font-weight: bold;
  text-align: center;
}

/* ログインフォーム */
.checkbox {
  margin-top: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}
/* ユーザー 一覧ページ */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

li.users_search{
  padding: 0px 13px 0px 13px;
}

ul.dropdown{
  padding-inline-start: 0;
}

ul.dropdown:hover > .dropdown-menu{
  display: block;
  padding: 20px 40px;
  float: left;
}

div.drop_user_status{
  padding: 20px 40px;
}

@media (max-width: 500px) {
  h1.users_top{
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
  }
}
/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

div.relation_article{
  font-weight: bold;
}

.user_icon {
  float: left;
  margin-right: 10px;
}

.current_introduct{
  white-space: pre-line;
}

.user_icon_edit {
  margin-top: 15px;
}

.status {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

h10.homeuser_name{
  font-weight: bold;
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* 記事投稿一覧のレイアウト */
.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 100px;
  }
  .post-icon {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}
span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

span.name{
  font-weight: bold;
  font-size: large;
}

.micropost_content{
  font-size: 1.3em;
}

span.user{
  font-weight: bold;
  font-size: 1.1em;
}

div.service_name{
  padding-top: 50px;
  border-bottom: 2px solid $gray-lighter;
}

div.service_price{
  padding-top: 50px;
  border-bottom: 2px solid $gray-lighter;
}

div.service_picture{
  padding-top: 50px;
  padding-bottom: 5px;
  border-bottom: 2px solid $gray-lighter;
}

button.modalbutton{
  display: contents;
  width: 400px;
  height: 400px;
}

div.service_content{
  padding-top: 50px;
  border-bottom: 2px solid $gray-lighter;
}

div.picture_section{
  padding-top: 5px;
}

div.log-picture{
  padding-top: 10px;
  padding-bottom: 5px;
}

div.table_content{
  border: 3px solid #eaeaea;
  position: fixed;
  left: 75%;
}

div.modal-content{
  padding: 20px;
}

@media (max-width: 650px) {
  div.picture_section > img{
    width:400px;
  }
}

/* コメントのレイアウト */
div.comment_section{
  list-style: none;
}

h6.more{
  font-weight: bold;
  font-size: 1.3em;
  color: blue;
}

p.all_view_comment{
  font-weight: bold;
  font-size: 1.2em;
}

/* パスワード編集ページ */
div.password_edit{
  white-space: pre-line;
}

/* ユーザー情報編集ページ */
div.current{
  white-space: pre-line;
}

/* ヘルプセンター */
div.help_center{
  white-space: pre-line;
}
ul.kantan{
  list-style: none;
}

/* お問い合わせ */
div.contact{
  white-space: pre-line;
}

/* いいねボタン */

.glyphicon-heart {
  color: red;
}
.btn-default:hover > .glyphicon-heart-empty {
  color: red;
}
.btn-default {
  position: relative;
  left: 30px;
}

/* 通知ページ */
div.notification_user{
  padding: 8px 15px;
  border: 1px solid #eaeaea;
}
i.notification-circle{
  color: red;
  position: relative;
  top: -10px;
  font-size: 5px;
}
/* 記事投稿ページ */
div.article_name{
  width:600px;
  padding-bottom: 15px;
}

div.article_price{
  width:600px;
  padding-bottom: 15px;
}

div.article_content{
  padding-bottom: 20px;
}

div.article_picture{
  padding: 30px 0px;
}

span.trix-button-group--file-tools{
  display: none;
}

figcaption.attachment__caption{
  display: none;
}

#micropost_content_trix_input_micropost{
  height: 900px;
}
