<footer class="footer">
  <small>
    <%= link_to "©What Service App", root_path %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "ヘルプ", help_path %></li>
      <li><%= link_to "お問い合わせ", contact_path %></li>
    </ul>
  </nav>
</footer>